<div class="current-weather">
    @if (weather) {
    <p-card class="current-weather-card">
        <div class="grid align-items-center justify-content-center">

            <!-- Left Column -->
            <div class="col left-panel">
                <div class="temperature-block text-center">
                    <div class="temperature">{{ weather?.current?.temperature }}°C</div>
                    <div class="feels-like">Feels like: {{ weather?.current?.apparent_temperature }}°C</div>
                </div>

                <div class="grid sunrise-sunset">
                    <app-icon-stat class="col-6 text-center" icon="/images/misc/wi_sunrise.svg" label="Sunrise"
                        [value]="weather?.daily?.sunrise[0] | date:'shortTime'" />

                    <app-icon-stat class="col-6 text-center" icon="/images/misc/wi_sunset.svg" label="Sunset"
                        [value]="weather?.daily?.sunset[0] | date:'shortTime'" />
                </div>
            </div>

            <!-- Middle Column -->
            <div class="col middle-panel text-center">
                <img [src]="getWeatherIcon(weather.current.weather_code)"
                    [alt]="'Icon ' + (weather?.current?.weather_code ?? '')" width="200" height="200" />
                <div class="weather-text">
                    {{ getCurentWeatherText(weather?.current?.weather_code) }}
                </div>
            </div>

            <!-- Right Column -->
            <div class="col right-panel">
                <div class="grid">
                    <app-icon-stat class="col-6 text-center" icon="/images/misc/wi_humidity.svg" label="Humidity"
                        [value]="weather?.current?.relative_humidity" unit="%" />

                    <app-icon-stat class="col-6 text-center" icon="/images/misc/wi_wind.svg" label="Wind Speed"
                        [value]="weather?.current?.wind_speed" unit="m/s" />

                    <app-icon-stat class="col-6 text-center" icon="/images/misc/wi_barometer.svg" label="Pressure"
                        [value]="weather?.current?.surface_pressure" unit="hPa" />

                    <app-icon-stat class="col-6 text-center"
                        [icon]="'/images/misc/uv/uv-index-' + getUvIcon(weather?.daily?.uv_index_max[0].toFixed(0)) + '.svg'"
                        label="UV index" [value]="weather?.daily?.uv_index_max[0].toFixed(1)" />
                </div>
            </div>

        </div>
    </p-card>
    }
    @else {
    <div class="no-data">
        <p>No weather data available.</p>
    </div>
    }
</div>