.forecast-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1rem;
}

.forecast-card {
    text-align: center;
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 8px 6px 8px rgba(0, 0, 0, 0.1);

    .day {
        font-weight: 600;
        margin-bottom: 0.5rem;
    }

    .temp {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        margin-top: 0.5rem;

        .text {
            font-weight: 700;
        }

    }

    .wind {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.3rem;
        margin-top: 0.4rem;
        font-size: 0.9rem;
        color: #555;

        .arrow {
            display: inline-block;
            transform: rotate(0deg);
            transition: transform 0.3s ease;
            width: 12px;
            height: 12px;
        }
    }

    .precipitation {
        display: flex;
        align-items: center;

        margin-top: 0.4rem;
        font-size: 0.9rem;
        color: #555;

    }
}